*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
.res-container{
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #473A8D;
    flex-direction: column;
}

.flex1{
    height: 50%;
    width: 45%;
    background-color: #F8F8F8;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.opt1{
    width: 100%;
    margin-top: 10px;
}

.result{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3% 5%;
}

.BtnReset{
    margin: 40px;
}

.PlayAgain{
    margin: 0 10px;
    height: auto;
    width: auto;
    font-size: 15px;
    padding: 2px 10px;
    border-radius: 0px;
    outline: none;
    box-shadow: none;
    border: 2px solid #8A8ADB;
    /* background-color: red; */
    color: #8A8ADB;
}

.BackHome{
    margin: 0 10px;
    height: auto;
    width: auto;
    font-size: 15px;
    padding: 2px 10px;
    border-radius: 0px;
    outline: none;
    box-shadow: none;
    border: 2px solid #469F46;
    color: #469F46;
}

.main1 > h1{
    color: #027F04;
    margin: 25px;
}

.Statement h1{
    color: #0000FF;
}